.test::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45vh;
    background-color: #358DE0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

}

.histoire,.histoire2{
    position:relative;
}
.histoire::before{
    content: "";
    position: absolute;
    background-color: rgba(221, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: -1;
}

.histoire2::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 221, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: -1;
}

@media screen and (min-width:1024px){
    .test::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 60%;
        background-color: #358DE0;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    
    }
}
.test2{
    background-image: linear-gradient(to top, #a8caba 0%, #5d4157 100%);
}
